/* BEGIN For Header Navigation Menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#devices nav li a:hover:not(.devicesActive) {
    background-color: #111;
}

div#devices nav .devicesActive {
    background-color: #4CAF50;
}

div#query nav li a:hover:not(.queryActive) {
    background-color: #111;
}

div#query nav .queryActive {
    background-color: #4CAF50;
}
div#query {
    margin-top: 50px;
}

div#index nav li a:hover:not(.indexActive) {
    background-color: #111;
}

div#index nav .indexActive {
    background-color: #4CAF50;
}

div#index nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

div#index nav li {
    float: left;
}

div#index nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* END For Header Navigation Menu */

/* BEGIN For index.gohtml */

/* END For index.gohtml */

/* BEGIN For query.gohtml */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    font-size:120%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* END For query.gohtml */

/* BEGIN For devices.gohtml */

/* END For devices.gohtml */

