<!DOCTYPE html>
<html lang="en">

{{template "header"}}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<body>

<div id="atf">
    <main>
        <h1>Devices</h1>
        <h2>Add new device</h2>
        <form method="POST" action="/devices">
            <div id="addDevice">
            <input type="text" name="hostname" placeholder="Hostname">
            <input type="text" name="ipAddress" placeholder="IP Address">
            <input type="text" name="deviceType" placeholder="Device Type"><br>
            </div>
            <input type="submit" value="Submit">
        </form>
        <table>
        <tr>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Device Type</th>
        </tr>
        <tr>
            {{range .}}
            {{if (eq .DeviceType "router")}}
                <td>{{.Hostname}}</td>
                <td>{{.IPAddress}}</td>
                <td>{{.DeviceType}}</td>
            {{end}}
        </tr>
        </table>
        <h2>Routers </h2>
            <ul>
            {{range .}}
                {{if (eq .DeviceType "router")}}
                    <li>{{.Hostname}}</li>
                {{end}}
            {{end}}
            </ul>
        <h2>Switches </h2>
             <ul>                         
            {{range .}}
                {{if (eq .DeviceType "switch")}}
                    <li>{{.Hostname}}</li>
                {{end}}
            {{end}}
             </ul>
    </main>
</div>

</body>
</html>
