<!DOCTYPE html>
<html lang="en">

{{template "header"}}

<body>

<div id="atf">
    <main>
        <h1>Devices</h1>
        <h2>Add new device</h2>
        <form method="POST" action="/devices">
            <div id="addDevice">
            <input type="text" name="hostname" placeholder="Hostname">
            <input type="text" name="ipAddress" placeholder="IP Address">
            <input type="text" name="deviceType" placeholder="Device Type"><br>
            </div>
            <input type="submit" value="Submit">
        </form>
        <h2>Routers </h2>
            <ul>
            {{range .}}
                {{if (eq .DeviceType "router")}}
                    <li>{{.Hostname}}</li>
                {{end}}
            {{end}}
            </ul>
        <h2>Switches </h2>
             <ul>                         
            {{range .}}
                {{if (eq .DeviceType "switch")}}
                    <li>{{.Hostname}}</li>
                {{end}}
            {{end}}
             </ul>
    </main>
</div>

</body>
</html>
