<!DOCTYPE html>
<html lang="en">

{{template "header"}}

<style>
    nav li a:hover:not(.devicesActive) {
    background-color: #111;
}

nav .devicesActive {
    background-color: #4CAF50;
}
</style>
<body>

<div id="devices">
    <main>
        <h1>Devices</h1>
        <h2>Add new device</h2>
        <form method="POST" action="/devices">
            <div id="addDevice">
            <input type="text" name="hostname" placeholder="Hostname">
            <input type="text" name="ipAddress" placeholder="IP Address">
            <input type="text" name="deviceType" placeholder="Device Type"><br>
            </div>
            <input type="submit" value="Add">
        </form>
        {{if . }}
            <h3 style="color:red;">The 'hostname' or 'IP Address' you entered already exist in the Database!</h3>
        {{end}}
        <form method="POST" action="/devices" enctype="multipart/form-data">
            <div id="bulkUpload">
            <input type="file" name="bulkFile" id="bulkFile">
            </div>
            <input type="submit" value="Add">
        </form>
    </main>
</div>

</body>
</html>
