<!DOCTYPE html>
<html lang="en">

{{template "header"}}

<style>
    nav li a:hover:not(.indexActive) {
    background-color: #111;
    }

    nav .indexActive {
        background-color: rgb(133, 235, 135);
        color: #111;
        font-style: italic;
        font-weight: bold;
    }
</style>

<body>

<div id="error">
    <main>
        <h1>Error Page </h1>
    </main>
</div>


</body>
</html>
