<!DOCTYPE html>
<html lang="en">

{{template "header"}}


<body>

<div id="error">
    <main>
        <h1>Error on Server</h1>
        <h3 style="color: red">{{.}}</h3>
    </main>
</div>


</body>
</html>
