{{define "header"}}
<header>
    <nav>
        <ul>
            <li><a class="active" href="#index">Home</a></li>
            <li><a href="#devices">Devices</a></li>
            <li><a href="#query">Query Database</a></li>
        </ul>
    </nav>

</head>

</header>
{{end}}
