{{define "header"}}
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <head>
        <nav>
            <ul>
                <li><a class="indexActive" href="index">Home</a></li>
                <li><a class="devicesActive" href="devices">Add Device</a></li>
                <li><a class="queryActive" href="query">Search Devices</a></li>
            </ul>
        </nav>
    </head>
</header>
{{end}}
