<!DOCTYPE html>
<html lang="en">

{{template "header"}}

<body>

<div id="atf">
    <main>
        <h1>Go MongoDB Homepage change to test Jenkins</h1>
        <h1>Go MongoDB Homepage change to test Jenkins</h1>
        <h1>Go MongoDB Homepage change to test Jenkins</h1>
    </main>
</div>


</body>
</html>
