<!DOCTYPE html>
<html lang="en">

{{template "header"}}

<style>
    nav li a:hover:not(.indexActive) {
    background-color: #111;
    }

    nav .indexActive {
        background-color: rgb(51, 116, 52)0;
    }
</style>

<body>

<div id="index">
    <main>
        <h1>Go MongoDB Homepage </h1>
    </main>
</div>


</body>
</html>
