<!DOCTYPE html>
<html lang="en">

{{template "header"}}

<style>
    nav li a:hover:not(.queryActive) {
    background-color: #111;
}

nav .queryActive {
    background-color: #4CAF50;
}
</style>

<body>

<div id="query">
    <main>
        <h2>Search</h2>
         <form method="POST" action="/query">
            <div id="queryDevice">
            <input type="text" name="hostname" placeholder="Find Hostname">
            <input type="text" name="ipAddress" placeholder="Find IP Address">
            <input type="text" name="deviceType" placeholder="Find Type">
            <input type="checkout" name="andOr" value="or"> Match Any
            <input type="checkout" name="andOr" value="and" checked> Match All
            </div>
            <input type="submit" value="Search">

            
        </form>

        <h1>Routers</h1>
        <table>
        <tr>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Device Type</th>
        </tr>
            {{range .}}
                {{if (eq .DeviceType "router")}}
                    <tr>
                    <td>{{.Hostname}}</td>
                    <td>{{.IPAddress}}</td>
                    <td>{{.DeviceType}}</td>
                    </tr>
                {{end}}
            {{end}}
        </table>
        <h1>Switches</h1>
        <table>
        <tr>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Device Type</th>
        </tr>
            {{range .}}
                {{if (eq .DeviceType "switch")}}
                    <tr>
                    <td>{{.Hostname}}</td>
                    <td>{{.IPAddress}}</td>
                    <td>{{.DeviceType}}</td>
                    </tr>
                {{end}}
            {{end}}
        </table>
    </main>
</div>

</body>
</html>
