<div id="queryResponse">
    <h1>Devices</h1>
        <table>
        <tr>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Device Type</th>
        </tr>
            {{range .}}
                    <tr>
                    <td>{{.Hostname}}</td>
                    <td>{{.IPAddress}}</td>
                    <td>{{.DeviceType}}</td>
                    </tr>
            {{end}}
        </table>
    </div>