<!DOCTYPE html>
<html lang="en">

{{template "header"}}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    font-size:120%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.queryActive) {
    background-color: #111;
}

nav .queryActive {
    background-color: #4CAF50;
}
div#atf {
    margin-top: 50px;
}
</style>
<body>

<div id="atf">
    <main>
        <h2>Enter hostname to find.</h2>
         <form method="POST" action="/query">
            <div id="queryDevice">
            <input type="text" name="hostname" placeholder="Hostname to find">
            </div>
            <input type="submit" value="Query Database">
        </form>
        
        <h1>Routers</h1>
        <table>
        <tr>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Device Type</th>
        </tr>
            {{range .}}
                {{if (eq .DeviceType "router")}}
                    <tr>
                    <td>{{.Hostname}}</td>
                    <td>{{.IPAddress}}</td>
                    <td>{{.DeviceType}}</td>
                    </tr>
                {{end}}
            {{end}}
        </table>
        <h1>Switches</h1>
        <table>
        <tr>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Device Type</th>
        </tr>
            {{range .}}
                {{if (eq .DeviceType "switch")}}
                    <tr>
                    <td>{{.Hostname}}</td>
                    <td>{{.IPAddress}}</td>
                    <td>{{.DeviceType}}</td>
                    </tr>
                {{end}}
            {{end}}
        </table>
    </main>
</div>

</body>
</html>
