<!DOCTYPE html>
<html lang="en">

{{template "header"}}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    font-size:120%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<body>

<div id="atf">
    <main>
        <form>
         <form method="POST" action="/query">
            <div id="queryDevice">
            <input type="text" name="hostname" placeholder="Hostname">
            </div>
            <input type="submit" value="Query">
        </form>
        
        <h1>Routers</h1>
        <table>
        <tr>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Device Type</th>
        </tr>
            {{range .}}
                {{if (eq .DeviceType "router")}}
                    <tr>
                    <td>{{.Hostname}}</td>
                    <td>{{.IPAddress}}</td>
                    <td>{{.DeviceType}}</td>
                    </tr>
                {{end}}
            {{end}}
        </table>
        <h1>Switches</h1>
        <table>
        <tr>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Device Type</th>
        </tr>
            {{range .}}
                {{if (eq .DeviceType "switch")}}
                    <tr>
                    <td>{{.Hostname}}</td>
                    <td>{{.IPAddress}}</td>
                    <td>{{.DeviceType}}</td>
                    </tr>
                {{end}}
            {{end}}
        </table>
    </main>
</div>

</body>
</html>
